[Unit]
Description=Danmaku Render
#Requires=danmaku-fetcher.service
After=danmaku-fetcher.service

[Service]
Type=simple
WorkingDirectory=/root/Zynq-Danmaku-Code/ZynqDanmaku-Host
ExecStartPre=-/usr/bin/mkfifo /run/danmaku.fifo
ExecStart=/bin/sh -c 'exec ./danmaku </run/danmaku.fifo'
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
