[Unit]
Description=Danmaku Fetcher
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/Host-Program
ExecStartPre=-/usr/bin/mkfifo /tmp/danmaku.fifo
ExecStart=/bin/sh -c '/root/Host-Program/node_modules/.bin/coffee /root/Host-Program/fetcher.coffee >/tmp/danmaku.fifo'
Restart=always

[Install]
WantedBy=multi-user.target
